<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ScreenZoomFactor" value="1.5"/>
		<add key="MagnifierZoomFactor" value="3"/>
		<add key="MagnifierWindowSizeFactor" value="0.5"/>
		<add key="MyIPAddress" value="192.168.1.167"/>
		<add key="MyPort" value="8080"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
