<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!-- communication settings -->
		<!-- ====================== -->

		<!--
			This IP-address belongs to the device (PC), on whitch the magnifier is installed. This IP-address must be entered in the settings on the mobile device.
			Can be any free port. This IP-address must be entered in the settings on the mobile device.
		-->

		<add key="MyIPAddress" value="192.168.1.1"/>
		<add key="MyPort" value="8081"/>


		<!-- display settings -->
		<!-- ================ -->

		<!--
			MagnifierZoomFactor: Is the zoom factor.
			FramesPerSecond: 30 is a good starting point; higher values may lead to tracking problems depending on hardware configuration.
			TrapMouse: Defines wether the mouse pointer is following the windows movements or not. Default is <true>.
			MouseOffsetHorizontal/Vertical: Defines the relativ position of the mouse pointer to the center of the magnification windows; range is -1 to 1; default is 0/0 meaning in the center.
			ScreenZoomFactor: Corresponds mostly with the windows screen scaling factor, but not always; values are mostly: 1 or 1.25; but also can be 1.20.
			MagnifierWindowSizeFactor: Size of the magnifier window relativ to it's whole size.
			MonitorWidth_mm: Defines the width of the used monitor.
			MonitorHeight_mm: Defines the hight of the used monitor.
			ExtendFactorX+Y: Screen extention in all direction (+-X/+-Y) to enable reaching all borders of the screen. Default is 1 meaning no extention; values < 1 means shortening; values > 1 means enlarging.
		-->

		<add key="MagnifierZoomFactor" value="5"/>
		<add key="FramesPerSecond" value="30"/>
		<add key="TrapMouse" value="true"/>
		<add key="MouseOffsetHorizontal" value="-0.3"/>
		<add key="MouseOffsetVertical" value="0"/>
		<add key="ExtendFactorX" value="1.0"/>
		<add key="ExtendFactorY" value="1.0"/>
		<!-- This following four settings (described above) may change due to different screen sizes -->
		<add key="ScreenZoomFactor" value="1.0"/>
		<add key="MagnifierWindowSizeFactor" value="0.7"/>
		<add key="MonitorWidth_mm" value="310"/>
		<add key="MonitorHeight_mm" value="174"/>


		<!-- motion settings -->
		<!-- =============== -->

		<!--
			ThresholdMoveStartX/Y: Defines how much the focus can move until the magnifier starts to move on the X/Y axis. 0 means it moves imeadiatly. Value in centimeters.
			ThresholdMoveStopX/Y: Defines when the move will stop on the X/Y axis. A low value here can result in jitter. Value in centimeters. Parameter is ignored for now.
			LerpAccelerator/LerpDecelerator: Indicates how fast the LerpAmount will increase/decrease. Value = 1 means no acceleration; value > 1 means faster, value < 1 means slower then the tracked position.
			LerpAmount: Indicates how fast the Magnifier Windows will move. Range between 0 and 1, 0.5 is a good value.
			LerpIsActive: Turning lerping on and off; boolean (true or false).
			DeceleratorRadius: Radius in witch the movement is slowing donw. The center of the radius is the new viewing spot.
		-->

		<add key="ThresholdMoveStartX" value="10.0"/>
		<add key="ThresholdMoveStartY" value="20.0"/>
		<add key="ThresholdMoveStopX" value="5.0"/>
		<add key="ThresholdMoveStopY" value="5.0"/>
		<add key="LerpAccelerator" value="1.3"/>
		<add key="LerpDecelerator" value="0.3"/>
		<add key="LerpAmount" value="0.05"/>
		<add key="LerpIsActive" value="true"/>
		<add key="DeceleratorRadius" value="50.0"/>

	</appSettings>
</configuration>