<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- communication & display settings-->
		<!--<add key="ScreenZoomFactor" value="1.25"/>
		<add key="MagnifierZoomFactor" value="3"/>
		<add key="MagnifierWindowSizeFactor" value="0.5"/>
		<add key="MonitorWidth_mm" value="575"/>
		<add key="MonitorHeight_mm" value="280"/>
		<add key="MyIPAddress" value="192.168.0.141"/>
		<add key="MyPort" value="8080"/>
		<add key="FramesPerSecond" value="30"/>
		<add key="TrapMouse" value="false"/>-->
				
		<add key="ScreenZoomFactor" value="1.0"/>
		<add key="MagnifierZoomFactor" value="5"/>
		<add key="MagnifierWindowSizeFactor" value="0.5"/>
		<add key="MonitorWidth_mm" value="880"/>
		<add key="MonitorHeight_mm" value="500"/>
		<add key="MyIPAddress" value="192.168.7.78"/>
		<add key="MyPort" value="8080"/>
		<add key="FramesPerSecond" value="120"/>
		<add key="TrapMouse" value="true"/>		
		<add key="MouseOffsetHorizontal" value="-0.85"/> <!-- -1 .. 1 -->
		<add key="MouseOffsetVertical" value="0"/> <!-- 1 .. -1 -->
		
		<!-- motion settings -->
		<add key="ThresholdMoveStartX" value="10.0"/>
		<add key="ThresholdMoveStartY" value="20.0"/>
		<add key="ThresholdMoveStopX" value="5.0"/>
		<add key="ThresholdMoveStopY" value="5.0"/>
		<add key="LerpAccelerator" value="1.3"/>
		<add key="LerpDecelerator" value="0.3"/>
		<add key="LerpAmount" value="0.05"/>
		<add key="LerpIsActive" value="true"/>
		<add key="DeceleratorRadius" value="50.0"/>
		<add key="ExtendFactorX" value="1.0"/>
		<add key="ExtendFactorY" value="1.0"/>
	</appSettings>
</configuration>