<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="./logs/head2screen-host-internal.log">

	<!-- the targets to write to -->
	<targets>
		<!-- another file log, only own logs -->
		<target xsi:type="File" name="head2screen-host"
		  fileName="./logs/head2screen-host.log"
		  archiveEvery="Day"
		  archiveFileName="./logs/head2screen-host.{#}.log"
		  archiveNumbering="Date"
		  archiveDateFormat="yyyy-MM-dd"
		  maxArchiveFiles="30"
		  layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>


	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Warn" writeTo="allfile" />-->
		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole without writeTo) -->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="Head2ScreenMagnifier.Host.*" minlevel="Debug" writeTo="head2screen-host" />
		<logger name="Head2ScreenMagnifier.Core.*" minlevel="Debug" writeTo="head2screen-host" />
	</rules>
</nlog>